<div style="text-align: center;">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets\images\Petra.jpg" alt="Photo of a Petra">
        <mat-card-content>
          <p>
            Petra is a famous archaeological site in Jordan's southwestern desert. Dating to around 300 B.C., 
            it was the capital of the Nabatean Kingdom. Accessed via a narrow canyon called Al Siq, 
            it contains tombs and temples carved into pink sandstone cliffs, earning its nickname, the "Rose City.
            " Perhaps its most famous structure is 45m-high Al Khazneh, a temple with an ornate, Greek-style facade, 
            and known as The Treasury.

          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
</div>
