<div style="text-align: center;">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Great Wall of China</mat-card-title>
          <mat-card-subtitle>Emperor Qin Shi Huang</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets\images\greatwallofchina.jpg" alt="Photo of a Great Wall of China">
        <mat-card-content>
          <p>
            The Great Wall of China is the collective name of a series of fortification systems generally
            built across the historical northern borders of China to protect and consolidate territories of Chinese states and empires 
            against various nomadic groups of the steppe and their polities. 
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
</div>
