<div style="text-align: center;">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets\images\Light House of Alexandria.jpg" alt="Photo of a Light House of Alexandria">
        <mat-card-content>
          <p>
            The Lighthouse of Alexandria, sometimes called the Pharos of Alexandria, 
            was a lighthouse built by the Ptolemaic Kingdom, during the reign of Ptolemy II Philadelphus, 
            which has been estimated to be at least 100 metres in overall height.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
</div>
