<div style="text-align: center;">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets\images\machupicchu.jpg" alt="Photo of a Manchu Picchu">
        <mat-card-content>
          <p>
            Machu Picchu is an Incan citadel set high in the Andes Mountains in Peru, above the Urubamba River valley. 
            Built in the 15th century and later abandoned, it’s renowned for its sophisticated dry-stone walls 
            that fuse huge blocks without the use of mortar, intriguing buildings that play on astronomical 
            alignments and panoramic views. Its exact former use remains a mystery.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
</div>
