<div style="text-align: center;">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets\images\hanginggardens.jpg" alt="Photo of a Hanging Gardens">
        <mat-card-content>
          <p>
            It is one of the Seven Ancient Wonders of the World and was called the Hanging Gardens because they were 
            supposedly built high above the ground on split-level stone terraces. ... 
            Some historians and archaeologists believe that the gardens were destroyed by war and erosion, 
            while others believe an earthquake destroyed them.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
</div>
